@import url('../fonts/stylesheet.css');
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UafrEtFpBISdmSt-MY2ehbO95t040BmPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UafrEtFpBISdmSt-MY2ehbO95t00UBmPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4tM3CwM.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4g03CwM.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4lM3CwM.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4mE3CwM.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4o0wCwM.ttf) format('truetype');
}
button {
  outline: none;
}
.btn {
  border-radius: 80px;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none !important;
}
a:hover,
a:focus {
  text-decoration: none;
}
.btn-info {
  background: transparent !important;
  border: solid 1px #ffffff;
  color: #ffffff;
  background: #000000;
  transition: all 0.6s;
}
.btn-info:hover {
  color: #6b00b6;
  border: solid 1px #6b00b6;
}
.btn-primary {
  border: none;
  color: #ffffff;
  background: #af49ff;
}
.btn-primary:hover {
  background: #9916ff;
}
.btn-secondary {
  display: block;
  padding: 11px 14px;
  margin: 0px;
  border: none;
  color: #ffffff;
  background: #000000 !important;
}
.d-column {
  flex-direction: column;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 2rem !important;
}
.m-6 {
  margin: 2.5rem !important;
}
.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}
.mr-6,
.mx-6 {
  margin-right: 2.5rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 2.5rem !important;
}
.m-7 {
  margin: 3rem !important;
}
.mt-7,
.my-7 {
  margin-top: 3rem !important;
}
.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}
.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}
.m-8 {
  margin: 3.5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 3.5rem !important;
}
.mr-8,
.mx-8 {
  margin-right: 3.5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 3.5rem !important;
}
.ml-8,
.mx-8 {
  margin-left: 3.5rem !important;
}
.m-9 {
  margin: 4rem !important;
}
.mt-9,
.my-9 {
  margin-top: 4rem !important;
}
.mr-9,
.mx-9 {
  margin-right: 4rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 4rem !important;
}
.ml-9,
.mx-9 {
  margin-left: 4rem !important;
}
.m-10 {
  margin: 4.5rem !important;
}
.mt-10,
.my-10 {
  margin-top: 4.5rem !important;
}
.mr-10,
.mx-10 {
  margin-right: 4.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4.5rem !important;
}
.ml-10,
.mx-10 {
  margin-left: 4.5rem !important;
}
.m-11 {
  margin: 5rem !important;
}
.mt-11,
.my-11 {
  margin-top: 5rem !important;
}
.mr-11,
.mx-11 {
  margin-right: 5rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
.ml-11,
.mx-11 {
  margin-left: 5rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 2rem !important;
}
.pr-5,
.px-5 {
  padding-right: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2rem !important;
}
.pl-5,
.px-5 {
  padding-left: 2rem !important;
}
.p-6 {
  padding: 2.5rem !important;
}
.pt-6,
.py-6 {
  padding-top: 2.5rem !important;
}
.pr-6,
.px-6 {
  padding-right: 2.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 2.5rem !important;
}
.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}
.p-7 {
  padding: 3rem !important;
}
.pt-7,
.py-7 {
  padding-top: 3rem !important;
}
.pr-7,
.px-7 {
  padding-right: 3rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 3rem !important;
}
.pl-7,
.px-7 {
  padding-left: 3rem !important;
}
.p-8 {
  padding: 3.5rem !important;
}
.pt-8,
.py-8 {
  padding-top: 3.5rem !important;
}
.pr-8,
.px-8 {
  padding-right: 3.5rem !important;
}
.pb-8,
.py-8 {
  padding-bottom: 3.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 3.5rem !important;
}
.p-9 {
  padding: 4rem !important;
}
.pt-9,
.py-9 {
  padding-top: 4rem !important;
}
.pr-9,
.px-9 {
  padding-right: 4rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 4rem !important;
}
.pl-9,
.px-9 {
  padding-left: 4rem !important;
}
.p-10 {
  padding: 4.5rem !important;
}
.pt-10,
.py-10 {
  padding-top: 4.5rem !important;
}
.pr-10,
.px-10 {
  padding-right: 4.5rem !important;
}
.pb-10,
.py-10 {
  padding-bottom: 4.5rem !important;
}
.pl-10,
.px-10 {
  padding-left: 4.5rem !important;
}
.p-11 {
  padding: 5rem !important;
}
.pt-11,
.py-11 {
  padding-top: 5rem !important;
}
.pr-11,
.px-11 {
  padding-right: 5rem !important;
}
.pb-11,
.py-11 {
  padding-bottom: 5rem !important;
}
.pl-11,
.px-11 {
  padding-left: 5rem !important;
}
.m-n1 {
  margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}
.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
:root {
  --small: 0.75;
  --text-md: calc(9.458px);
  --text-xxl: 7.813vw;
  --text-lg: 2.865vw;
  --text-xl: 5.208vw;
  --text-light: #dddfce;
  --border: #BDBFA9;
  --lightbg: #E3E4DD;
  --red: #7a121c;
  --lightgreen: #818439;
}
html {
  /*overflow:hidden;*/
}
body,
html {
  overflow-x: hidden;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
  color: #ffffff;
  font-weight: 300;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #000000;
}
.nav-trigger {
  max-width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
nav a {
  color: rgba(255, 255, 255, 0.8);
}
h1,
h2,
h3,
h4 {
  font-family: "Green Witch", "Times New Roman", serif;
  color: #ffffff;
}
input:focus,
button:focus {
  outline: none;
}
h5 {
  font-family: "Exo", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
h6 {
  font-family: "Exo", sans-serif;
  font-size: 12px;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 400;
}
.nav-trigger {
  max-width: 50px;
  z-index: 8888;
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 3.75vw;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.nav-trigger.open:after {
  transform: translateX(15px);
  color: #ffffff;
}
.nav-trigger:after {
  display: flex;
  transition: all 0.5s ease-out;
  width: 50px;
  content: "menu";
  position: absolute;
  bottom: -10px;
  font-size: 10px;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
}
.nav-trigger:hover {
  cursor: pointer;
}
.nav-trigger:hover span:nth-child(1),
.nav-trigger:hover span:nth-child(3) {
  width: 50px;
}
.nav-trigger:hover span:nth-child(2) {
  width: 35px;
}
.nav-trigger span {
  display: block;
  background-color: #000000;
  height: 2px;
  width: 45px;
  margin-bottom: 14px;
  transition: all 0.5s ease-out;
  transform: rotate(0deg);
  opacity: 1;
}
.nav-trigger span:nth-child(1),
.nav-trigger span:nth-child(3) {
  width: 30px;
}
.nav-trigger span.top-nav-bar {
  transform-origin: right;
  /* transform: rotate(40deg);*/
  transform: translateX(15px);
  background-color: #ffffff;
  width: 35px;
}
.nav-trigger span.bottom-nav-bar {
  transform-origin: right;
  /* transform: rotate(-42deg);*/
  transform: translateX(25px);
  background-color: #ffffff;
  width: 25px;
}
.nav-trigger span.fade {
  opacity: 1 !important;
  transform-origin: right;
  /* transform: rotate(-42deg);*/
  transform: translateX(5px);
  background-color: #ffffff;
  width: 45px;
}
nav {
  left: 0;
  padding: 0.813vw 7.813vw 0.75vw 0.125vw;
  position: fixed;
  top: 0;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 3;
  font-family: "Lato", sans-serif;
  height: 100vh;
  width: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transform: translateX(-100%);
}
nav.open {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
h1 {
  font-size: 5.417vw;
  line-height: 1;
}
.page-template-page-landing {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#site-logo {
  position: relative;
  transition: all 0.4s ease-out;
  display: flex;
  padding: 3vw;
}
#site-logo img {
  max-width: 120px;
  height: auto;
}
@media (max-width: 728px) {
  .landing-form {
    max-width: 95%;
  }
}
@media screen and (orientation: portrait) {
  nav {
    top: 0;
    opacity: 1;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 199400;
  }
  .nav-trigger.open {
    transform: translateX(90%);
  }
  #menu-main-menu {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
  }
  header nav a {
    padding: 3vw 5vw;
    font-size: 8.5vmin;
  }
}
.c-scrollbar {
  opacity: 1;
}
.c-scrollbar_thumb {
  background-color: firebrick;
  opacity: 1;
}
h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 16vw;
  }
}
h1 span {
  display: block;
}
h2 {
  font-size: 5rem;
}
* {
  box-sizing: border-box;
}
section:not(.horizontal-scroller) {
  width: 100%;
  position: relative;
}
.horizontal-scroller {
  height: 90vh;
  overflow: hidden;
  display: flex;
  left: 0;
}
.horizontal-scroller .row {
  flex-wrap: nowrap;
}
.horizontal-scroller .row > div {
  padding: 10px;
}
.pin-wrap {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}
.pin-wrap > * {
  min-width: 60vw;
  padding: 0 5vw;
}
/*Nav*/
.nav-inner {
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  transition: all 0.3s;
}
.nav-inner ul {
  list-style: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.witch {
  bottom: 0;
  left: 10%;
  display: flex;
  position: fixed;
  z-index: 920;
}
.witch img {
  max-width: 50vw;
  height: auto;
}
.beginning .bg-wrap {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100vh;
  background: url("../images/sky.png") 0 0 no-repeat;
}
.beginning .moon {
  position: absolute;
}
.beginning .circle {
  bottom: -20%;
  left: -10%;
  z-index: 1;
  position: absolute;
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  background: linear-gradient(45deg, #af49ff 40%, #89c950 60%);
}
/*Slider*/
#slider {
  background: linear-gradient(to right, #6c1ed1 0%, #ffffff 50%, #ffffff 100%);
  border: solid 1px #82CFD0;
  border-radius: 58px;
  height: 17px;
  width: 356px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
  border: 0;
  outline: none;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 70px;
  width: 70px;
  background-color: transparent;
  background-image: url("../images/sliderbutton.png");
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb:active {
  background-position: 100% 0px;
  transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}
/*input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  height: 20px;
  background: #4685d7;
  border-radius: 10px;
  cursor: pointer;
}*/
input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 70px;
  width: 70px;
  background-color: transparent;
  background-image: url("../images/sliderbutton.png");
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
  cursor: pointer;
  margin-top: -15px;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb:active {
  background-position: 100% 0px;
  transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}
/*input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
 
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  cursor: pointer;
  -webkit-appearance: none;
}*/
label {
  flex: none;
  background: #72cd21;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 14px;
  margin-left: 10px;
  font-family: Roboto, 'Helvetica Neue', Arial;
  font-size: 20px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  font-family: "Green Witch", sans-serif;
  font-size: 34px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  content: '';
}
.col-md-6 {
  position: relative;
}
/*Medallions*/
#medallion-container {
  width: 100%;
  min-height: 80vh;
  position: relative;
}
.medallion {
  position: absolute;
  border-radius: 50%;
  background: url("../images/ball.png") 0 0 no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}
.medallion img {
  width: 100%;
  height: auto;
}
.medallion0 {
  top: 40px;
  left: -40px;
  width: 80px;
  height: 80px;
}
.medallion1 {
  top: 62px;
  left: 102px;
}
.medallion2 {
  top: 138px;
  left: 180px;
}
.medallion3 {
  top: 290px;
  left: 285px;
}
.medallion4 {
  top: 64px;
  left: 253px;
  width: 85px;
  height: 85px;
}
.medallion5 {
  top: 280px;
  left: 47px;
}
.medallion6 {
  top: 150px;
  left: -5px;
}
.medallion7 {
  top: 260px;
  left: 155px;
  width: 80px;
  height: 80px;
}
.medallion8 {
  top: 375px;
  left: 190px;
}
.section-medallion {
  display: flex;
  height: 100vh !important;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #af49ff 40%, #89c950 60%);
}
.green {
  overflow: hidden;
  width: 100%;
  background: #72cd21;
  align-items: center;
  height: 70px;
  display: flex;
  color: #000000;
  position: absolute;
  bottom: 10%;
}
.green ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  animation-name: rightToLeft;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.green ul li {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  font-weight: 600;
}
@keyframes rightToLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-170px);
  }
}
@keyframes slightmovement {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-36px);
  }
  99% {
    transform: translateY(-2px);
  }
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-witches {
  height: 100vh;
  position: relative;
}
.flying-witch {
  animation-name: slightmovement;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: block;
  z-index: 40000;
  transform: translate(0, 0);
}
.section-about {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  /*background:@secondarycolor;*/
}
.houses {
  width: 44vw;
  height: auto;
  position: absolute;
  right: -15%;
  bottom: -50%;
  z-index: -1;
}
/*FAQ*/
.accordion {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.accordion .title {
  flex: 1;
}
.accordion:hover {
  color: #af49ff;
}
.panel {
  max-height: 0px;
  overflow: hidden;
  transition: all 1s ease;
}
.panel p {
  margin-top: 24px;
}
.open {
  color: #af49ff;
}
.section-faq {
  min-height: unset;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #063974;
}
.section-faq .icon {
  margin-left: 24px;
  transition: all 0.4s;
  display: flex;
  transform: rotate(-90deg);
}
.accordion.open .icon {
  transform: rotate(0deg);
}
#loco-nav {
  transition: all 0.3s;
  flex-basis: auto;
  flex-grow: unset;
}
#loco-nav li {
  display: flex;
  padding: 0 20px !important;
  align-items: center;
}
#loco-nav li a {
  color: #ffffff !important;
  transition: all 0.3s;
  display: flex;
}
#loco-nav li a:hover {
  color: #E1BAFF !important;
}
.content1 {
  flex-direction: column;
  max-width: 100%;
  z-index: 997;
}
.section-footer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.section-footer .logo-img {
  max-width: 200px;
}
.section-footer .hat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  bottom: 0;
}
.section-footer .hat > div {
  position: absolute;
  justify-content: center;
  bottom: 10%;
}
.section-footer .hat > img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  height: 90vh;
  width: auto;
}
.section-footer .hat ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section-footer .hat ul img {
  position: relative;
}
.section-footer .hat ul li {
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
}
.section-footer .hat ul li a {
  text-align: center;
  font-weight: 600;
  color: #ffffff;
}
.section-footer .hat ul li a img {
  max-width: 45px;
}
.navbar-inner-up {
  top: -50px;
  transition: ease 0.4s;
}
.navbar-inner-scrolled {
  height: 50px;
  background: red;
}
.white-popup {
  position: relative;
  background: transparent;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}
.white-popup .popup-content {
  width: 360px;
  height: 360px;
  position: relative;
  border: solid 20px #72cd21;
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-origin: 50% 50%;
}
.white-popup ul {
  list-style: none;
}
.white-popup ul li {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}
.white-popup .medallion {
  display: flex;
  justify-content: center;
  position: relative;
}
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}
.logo {
  display: flex;
}
.logo h1 {
  display: flex;
  width: 150px;
  transition: all 0.3s;
  height: 50px;
  margin-bottom: 0;
  background: url("../images/logoword.svg") 0 0 no-repeat;
}
.jwpnavbar--up {
  top: -50px;
  transition: ease 0.4s;
}
.jwpnavbar--scrolled {
  height: 70px;
  background: #000000;
}
.jwpnavbar--scrolled h1 {
  background: url("../images/logowordwhite.svg") 0 0 no-repeat;
}
.preload {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #400072;
  top: 0%;
  left: 0%;
  z-index: 99999;
  transition: all 1.5s;
}
.loaded .preload {
  transform: translate(0, 150%);
}
.navbar-toggler {
  padding: 0;
  z-index: 199990;
  right: 2%;
  top: 34px;
  position: absolute;
}
.navbar-toggler #nav-icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
  position: relative;
  margin: 0px auto;
  transform: rotate(0deg);
  cursor: pointer;
}
.navbar-toggler #nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  border-radius: 10%;
  background: #af49ff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1) {
  top: 0px;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
  top: 9px;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3) {
  top: 18px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span {
  background: #ffffff !important;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  left: 0px;
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
  width: 0px;
  opacity: 0;
}
#loco-nav.show {
  top: 0;
  opacity: 1;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100vh;
  background: #af49ff;
  display: flex;
  z-index: 199400;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}
#loco-nav.show li a {
  color: #ffffff;
  padding: 3vw 5vw;
  font-size: 8.5vmin;
}
#loco-nav.show li:last-child {
  display: none;
}
@media (max-width: 991px) {
  .section-title {
    min-height: 50vh;
  }
  .section-faq,
  .section-about {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  section {
    height: auto !important;
  }
  #medallion-container {
    min-height: 400px;
  }
  .nav-inner ul {
    list-style: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-about {
    overflow: unset;
    height: auto !important;
  }
  .medallion {
    width: 80px;
    height: 80px;
  }
  .section-footer .hat > img {
    z-index: unset;
  }
  .mobile-button {
    margin-right: 40px;
  }
  .witch {
    position: absolute;
    left: -30%;
  }
  .container {
    max-width: 95%;
  }
  #mint-button img {
    transform-origin: 50% 50%;
    width: 85px;
    height: 85px;
  }
  #slider {
    width: 50%;
  }
  .beginning {
    overflow: hidden;
  }
  .beginning .bg-wrap {
    min-height: 100vh;
    height: unset;
    position: relative;
  }
  .beginning .bg-wrap .container {
    padding-top: 150px !important;
  }
  .beginning .bg-wrap .moon {
    left: -10%;
    top: 120px;
  }
  #medallion-container {
    width: 100%;
    position: relative;
  }
  .section-medallion {
    padding-top: 88px;
    padding-bottom: 88px;
    height: unset !important;
  }
}
@media (min-width: 992px) {
  section:not(.horizontal-scroller) {
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin: auto;
  }
  .slick-initialized .slick-slide {
    display: block;
    max-height: 45vh;
    width: auto !important;
  }
  .navbar-collapse {
    display: flex !important;
  }
  .mobile-button {
    display: none;
  }
  .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .section-footer .hat {
    height: auto;
  }
  .section-footer .hat > img {
    position: relative;
  }
  .beginning .circle {
    left: 0;
    width: 90vw;
    height: 90vw;
  }
  .beginning .bg-wrap .container {
    padding-top: 88px;
  }
  .beginning .bg-wrap .moon {
    z-index: 5;
    top: 80px;
    left: 5%;
  }
  .beginning .bg-wrap .moon img {
    max-width: 180px;
  }
  .flying-witch img {
    max-width: 70vw;
    position: relative;
  }
  .section-footer .hat > img {
    height: 400px;
  }
  .medallion3 {
    top: 380px;
    left: 85px;
  }
  .section-faq {
    min-height: unset !important;
  }
  .section-faq .container {
    margin-top: 44px;
    margin-bottom: 44px;
  }
  #medallion-container {
    width: 90%;
  }
  .slider-holder {
    justify-content: center;
  }
  .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .beginning .row .col-md-6:first-child {
    overflow: hidden;
    position: relative;
  }
  .witch img {
    max-width: 90vw;
    height: auto;
  }
  .container {
    max-width: unset;
  }
  .nav-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-inner .btn {
    padding: 10px 12px;
  }
  .beginning h2 {
    margin-top: 44px;
  }
  .beginning .col-md-6 {
    min-height: 400px;
  }
  .witch {
    left: unset;
    position: absolute;
    z-index: 888;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  .content1 {
    align-items: center;
  }
}
